<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/error.css" type="text/css"
	media="all"/>
<title>Cambiar contraseña</title>
</head>
<body>
	<form action="/cambioEmail" method="post">
	<table border="0">
        <tr >
             <td colspan="5" align="center"><h2>Cambiar email</h2></td>
        </tr>
        <tr id="err">
        <br/>
        <span  th:text="${err}"/>
        </tr>
        <tr>
            <td>Contraseña:</td>
            <td align="right"><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td>Nuevo email: </td>
            <td align="right"><input type="text" name="newEmail"/></td>
        </tr>
        <tr>
            <td >
                <input type="submit" value="Guardar cambios"/>
            </td>
        </tr>
        
    <tr><td><a href="/volverAinfo">Volver panel de informacion</a></td></tr>
    </table>
    </form>
</body>
</html>