<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Cambiar contraseña</title>
</head>
<body>
	<form action="/cambio" method="post">
	<table border="0">
        <tr>
             <td colspan="5" align="center"><h2>Cambiar contraseña</h2></td>
        </tr>
        <tr>
        <br/>
        <span th:text="${err}"/></td>
        </tr>
        <tr>
            <td>Contraseña:</td>
            <td align="right"><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td>Nueva contraseña: </td>
            <td align="right"><input type="password" name="newPassword1"/></td>
        </tr>
        <tr>
            <td>Repita contraseña: </td>
            <td align="right"><input type="password" name="newPassword2"/></td>
        </tr>
        <tr>
            <td >
                <input type="submit" value="Cambiar"/>
            </td>
        </tr>
        
    </table>
    </form>
</body>
</html>