<html>
<head>
<title>Informacion de ${user.nombre}</title>
</head>
<body>
	<h1> Informacion personal de <span th:text="${user.usuario}"/></h1>
	<table>
		<tr>
			<td>Nombre: <span th:text="${user.nombre}"/> <span th:text="${user.apellidos}"/></td>
		</tr>
		<tr>
			<td>DNI:  <span th:text="${user.dni}"/></td> 
		</tr>
		<tr>
			<td>Email:  <input id="lbl_email" type="text" value="${user.email}" /> <span th:text="${user.email}"/>   
                <input id="btn_email" type="submit" value="Cambiar email"/> </td> 
		</tr>
		<tr>
			<td>Fecha de nacimiento:  <span th:text="${user.fechaNacimiento}"/></td>
		</tr>
		<tr>
			<td>Direccion:  <span th:text="${user.direccion}"/></td>
		</tr>
		<tr>
			<td>Nacionalidad:  <span th:text="${user.nacionalidad}"/></td>
		</tr>
		
	</table>
	
	 <a href="/cambiar"> Cambiar contraseña </a>
	<br/>
	<br/>
	
	 <a href="/login"> Salir </a>
	<br/>	

</body>
</html>