<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Login</title>
</head>
<body>
	<form action="log" method="post">
	<table border="0">
        <tr>
             <td colspan="5" align="center"><h2>Inicie sesión</h2></td>
        </tr>
        <tr>
            <td>Nombre de usuario:</td>
            <td align="right"><input type="text" name="usuario"></td>
        </tr>
        <tr>
            <td>Contraseña: </td>
            <td align="right"><input type="password" name="pass"></td>
        </tr>
        <tr>
            <td >
                <input type="submit" value="Entrar">
            </td>
        </tr>
    </table>
</body>
</html>